Options +FollowSymlinks -MultiViews
RewriteEngine on

#RewriteRule ([^._]*)\_([^._]*)\_([^._]*)\_([^._]*)\.png$ img1.php?name=$1&region=$2&champnum=$3&skinnum=$4 [L,NC]
RewriteRule ^(\w+)\_(\w+)\_(\w+)\_(\w+)\.png$ img.php?name=$1&region=$2&champnum=$3&skinnum=$4 [L,NC]